header {
   
}

.logo {
    width: 10em;
}

.mainLine {
    font-family: 'Love Ya Like A Sister', cursive;
}

body {
    font-family: 'Poppins', sans-serif;
}

.filters {
    display: flex;
    flex-flow: row ;    
}

button {
    float: right; 
}


/* //drop down font */
select {
    /* font-family: "comic sans ms"; */
    padding: 5px 8px;
    background-color: #68b0ab;
    border: none;
    color: white;
}

.select:focus,
.select:hover {
    outline: none;
    border: 1px solid #006a71
}

.itinerary {
    background-color: #ecf4f3;
    width: 30%;
    padding: 10px;
    height: 100%;
}

.selectedAttraction {
    margin: 4em 0em 4em 0em;
}

.selectedEat {
    margin-bottom: 3em;
}

.breakBox {
    display: flex;
    flex-wrap: nowrap;
}

.details {
    margin: 2em; 
    width: 45%;
}

.parkPhoto {
    max-width: 100%;
    margin-bottom: -0.5em;
}

.weatherBox {
    /* border: 3px solid;  */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: .25em; 
}

.card-day {
    text-align: center;
    width: 20%;
}

.icons {
    max-width: 65px;
}

.detailsBox:empty {
    display: none;
}


.detailsBox {
    padding: 1em;
    margin-top: 1em;
    background-color: white;
}

.saved {
    width: 15%;
    border: 5px dotted; 
}

h2 {
    text-align: center;
}

footer {
    background-color:	#6d9c7d;
    width: 100%;
    padding: .25em;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
}

