.logo {
    width: 10em;
}

.filters {
    display: flex;
    flex-flow: row ;    
}

button {
    float: right; 
}

/* //drop down font */
select {
    font-family: "comic sans ms"; 
}

.itinerary {

    width: 30%;
    padding: 10px;
}

.selectedAttraction {
    margin: 4em 0em 4em 0em;
}

.breakBox {
    display: flex;
    flex-wrap: nowrap;

}

.details {
    margin: 2em; 
    width: 45%;
}

/* .photoBox {

} */

.parkPhoto {
    max-width: 100%;
    margin-bottom: -0.5em;
}

.weatherBox {
    /* border: 3px solid;  */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: .25em; 
}

.card-day {
    text-align: center;
    width: 20%;
}

.icons {
    max-width: 55px;
}

.detailsBox {
    border: 1px solid; 
    min-height: 45px;
    padding: 1em;
}

.saved {
    width: 15%;
    border: 5px dotted; 
}

h2 {
    text-align: center;
}

footer {
    background-color: olivedrab;
    width: 100%;
    padding: .5em;
    text-align: center;
    /* float: bottom; */
    position: fixed;
    bottom: 0;
}